* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    border-bottom: 5px solid red;
    background-color: beige;
}

header h1 {
    text-align: center;
}

header ul {
    text-align: end;
    list-style: none;
    margin-right: 2%;
}

.list-item {
    display: inline;
    margin: 0 1%;
}

main {
    text-align: center;
    margin-top: 25px;
    background-color: blanchedalmond;
}

main img{
    width: 200px;
    height: auto;
}

.form {
    font-weight: 800;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: aquamarine;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h3 {
    text-align: center;
}